.navbar-brand {
  display: flex;
  align-items: center;
  gap: 8px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  min-height: 100vh;
  background-color: #add0ff;
}

.quiz-card {
  width: 24rem;
}

.answer-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.answer-box {
  border: 2px solid #518fc3 !important;
  background-color: #bcdeff !important;
}

.answer-box:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.correct-answer-bg {
  background-color: #1fc577 !important;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.footer-counter {
  display: flex;
  gap: 4px;
  padding-top: 8px;
}

.bg-success {
  color: #e1f7eb !important;
}

.answer-icons {
  background-color: #f8f8f8;
  height: 24px !important;
  width: 24px !important;
  display: inline-block;
  border-radius: 50%;
}